h1 {
    color: rgb(27, 13, 153);
    font-family: 'Kabarett Decor DEMO Thin', sans-serif;
}

h2 {
    color: rgb(128, 10, 151);
    font-family: 'Kabarett Decor DEMO Thin', sans-serif;
}

a {
    color: brown;
}

body {
    background-color: papayawhip;
}

ul {
    list-style-type: square;
}

.bigTextSize {
    font-size: 20px;
}

@font-face {
	font-family: 'Kabarett Decor DEMO Thin';
	src: url('fonts/kabarett_decor_demo_thin.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/kabarett_decor_demo_thin.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/kabarett_decor_demo_thin.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/kabarett_decor_demo_thin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/kabarett_decor_demo_thin.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/kabarett_decor_demo_thin.svg#kabarett_decor_demo_thin') format('svg'); /* Chrome < 4, Legacy iOS */
}
